.dualcolor
{
    color : #00CC00;
}
@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}
.jumbotron
{
    margin-bottom: 1rem;
    background-color: #546e88;
    border-radius: 35px;
    border-style: groove;
    border-color: darkgoldenrod;
}
.btn-outline-success, .btn-outline-danger
{
    background-color: #2B3E50;
}

.colonne
{
    flex-direction: column;
}
.cpAlert
{
    display: flex;
}
    .cpAlert p
    {
        color: #18bfef;
    }
.cpClose
{
    margin-left: 2rem;
}

.icon.solo
{
    width: 4rem !important;
    height: 2rem !important;
    line-height: 2rem !important;
    border-radius: 6rem !important;
}

.ligne
{
    display: flex;
    text-align: center;
}
input[type="checkbox"], input[type="radio"]
{
    -webkit-appearance: checkbox !important;
    opacity: 1;
}

.boite, .comment
{
    border: solid;
    margin: 0 10px 0 10px;
    padding: 10px;
}
.boite .header {
    color: darkred;
    text-align: center;
    font-weight: bold;
}
.comment .header {
    display: flex;
    justify-content: space-between;
    color: darkred;
    font-weight: bold;
}
.boite footer, .comment footer {
    text-align: left;
    font-style: italic;
    line-height: 1.2em;
}
.comment footer {
    margin-top: -1rem;
    justify-content: space-evenly;
    display: flex;
    font-style: italic;
    line-height: 1.2em;
}
/*table*/
.focus {
    background-color: #18bfef !important;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.selected {
    background-color: #18bfef !important;
    color: #fff;
    font-weight: bold;
}
.asc:after {content: "\25B2"; }
.desc:after {content: "\25BC"; }
.table th{border-top: none;}

.is-invalid  {
    border-color: #d23430 !important;
}
.cpInvalid {
    color: #d23430 !important;
    font-style: italic;
}
#content {
    margin-bottom: 100px;
}
.auteur
{
    font-weight: bold;
    text-transform: capitalize;
}
.no-wrap{
    white-space: nowrap;
}